.contact{
    position: relative;
    background: url() center/cover no-repeat;
    color: #fff;
    text-align: center;
    /* overflow: hidden; */
    /* margin: 15px; */
    margin-bottom: 20px;

}
.contact-overlay{
    background: rgba(0 ,0,0,0.8);
    padding: 60px;
    border-radius: 20px;
    max-width: 700px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(255 ,102 ,0,0.3);
    animation: fadeInUp 1s ease-out;
}

.contact h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ff6600;
}
.contact h2 span{
    color: white;
}
.contact p{

    margin-bottom: 40px;
    font-size: 1rem;
    color: #ccc;

}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group{
    display: flex;
    gap: 20px;
}

.input-group input{
    flex: 1;
}

input , textarea{
    background: transparent;
    border: 2px solid #ff6600;
     color: white;
     font-size: 1rem;
     padding: 12px 15px;
     border-radius: 15px;
     transition: all 0.3s ease;
     outline: none;

}

input:focus , textarea:focus{
    border-color: #ffa64d;
    box-shadow: 0 0 10px #ff6600;
}

textarea{
    resize: none;
    height: 120px;
}

.contact-btn{
    background: #ff6600;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.contact-btn:hover{
    background: #ffa64d;
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff6600;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen {
    .input-group{
        flex-direction: column;

    }
    .contact-overlay{
        padding: 40px 25px;
    }
    .contact h2{
        font-size: 2rem;
    }
}