.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("./gym-hero.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero::before{
    content: " ";
    position: absolute;
    inset: 0;
    background: radial-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.8));
}

.hero-overlay{
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
    animation: fadeIn 1.5s ease-out;
}

.hero-title{
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 25px rgba(255, 102, 2, 0.8);
    animation: floatText 3s ease-in-out infinite;
}

.hero-title span{
    color: #ff6600;
    text-shadow: 0 0 30px #ff6600;
}

.hero-subtitle{
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.btn-primary , .btn-secondary{
    padding: 14px 40px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-primary{
    border: none;
    color: white;
    background-color: #ff6600;
    box-shadow: 0 0 20px #ff6600;
}

.btn-secondary{
    background-color: #ff6600;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff6600;
    border: none;
}

.btn-primary:hover{
    background: #ffa64d;
    transform: scale(1.04);
    box-shadow: 0 0 20px #ff6800;

}

.btn-secondary:hover{
    background: transparent;
    border: 2px solid #ff6600;
    color: #ff6600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes floatText {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@media (max-width : 768px){
    .hero-title{
        font-size: 2.2rem;
    }
    .hero-subtitle{
        font-size: 1rem;
    }
    .hero-btns{
        flex-direction: column;
        gap: 15px;
    }
    .btn-primary , .btn-secondary{
        width: 80%;
        margin: 0 auto;
    }
    .nav-links{
        display: none;

    }
    .hero h1{
        font-size: 2rem;
    }
}