.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter:blur(10px);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff6b00;

}
.logo span{
    color: white;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.nav-links li{
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

.nav-links li:hover{
    color: #ff6b00;
}
.join-btn{
    background: linear-gradient(90deg , #ff6b00 , #ff2b00);
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.join-btn:hover{
    transform: scale(1.08);
    box-shadow: 0 0 15px #ff2b00;
}
