.programs{
    padding: 130px 8%;
    text-align: center;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 40px;
    color: #ff6600;
    text-transform: uppercase;
}

.programs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));
    gap: 20px;
}

.card{
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ff6600;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3{
    margin: 15px 0px 8px ;
    color: #ff6600;

}

.card p {
    color: #ccc;
    padding: 0 15px 25px;
}
